@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  background-color: #ecf1f2;
  display: grid;
  font-size: 16px;
  padding: 20px;
  grid-gap: 20px;
  vertical-align: middle;
  line-height: 50px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
.number {
  background-color: #fff;
}
.contents {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: 50px;
}
.twelve {
  width: 100%;
  background-color: #fff;
}
.six {
  grid-template-columns: 1fr 1fr;
}
.four {
  grid-template-columns: 1fr 1fr 1fr;
}
.three {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.two__four {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.two {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.mix {
  grid-template-columns: 6fr 3fr 3fr;
}
.mix__two {
  grid-template-columns: 2fr 2fr 4fr 4fr;
}
/* 回答はここに書いてね */
