@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  background-color: #eff3f4;
  width: 900px;
  padding: 20px;
  margin: 0 auto;
}
.txt {
  font-size: 18px;
  line-height: 22px;
  word-break: break-all;
}
.img__left {
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
}
.img__right {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
}
/* 回答はここに書いてね */
