@charset "UTF-8";

/* 回答はここに書いてね */
.common {
  color: #fff;
  background-color: #00bcd4;
  margin-right: 10px;
}
.error {
  color: #fff;
  background-color: #ff4081;
  margin-right: 10px;
}
.disable {
  color: #fff;
  background-color: #e5e5e5;
  margin-right: 10px;
}
.shadow {
  color: #222;
  box-shadow: 0 1px 6px rgba(0,0,0,.12);
}
.btn__small {
  border-radius: 3px;
  line-height: 26px;
  padding: 0 15px;
  height: 26px;
  font-size: 16px;
  display:inline-block;
  vertical-align: middle;
}
.btn__middle {
  display:inline-block;
  vertical-align: middle;
  line-height: 32px;
  padding: 0 20px;
  height: 32px;
  border-radius: 5px;
  font-size: 20px;
}
.btn__large {
  display:inline-block;
  vertical-align: middle;
  line-height: 38px;
  padding: 0 25px;
  height: 38px;
  border-radius: 7px;
  font-size: 24px;
}
/* 回答はここに書いてね */
