@charset "UTF-8";

/* 回答はここに書いてね */
.food__table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  border: solid #dedede 1px;
}
.food__table th, .food__table td {
  border: solid #dedede 1px;
  padding: 10px;
}
.food__table th {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.food__table tr:nth-child(odd) {
  background-color: #ecf1f2;
}
.food__table td {
  font-size: 16px;
  line-height: 22px;
}
.food__table tr td:first-child {
  background-color: #2244aa;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
}
.food__table tr:last-child {
  border-top: dashed #000 2px;
}
/* 回答はここに書いてね */