@charset "UTF-8";

/* 回答はここに書いてね */
.main {
  display: table;
  width: 100%;
}
.table {
  display: table-cell;
  padding: 20px 0;
  text-align: center;
}
.pink {
  background-color: #fdc8b8;
  width: 100px;
}
.purple {
  background-color: #e0abd9;
}
.blue {
  background-color: #b6d8ed;
  width: 100px;
}
.yellow {
  background-color: #e5d32e;
 }
.right__yellow {
  background-color: #e4e67c;
}
.green {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
